#A0 {
    height: 100vh;
    background-image: url('../../images/A/A0.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#A1 {
    height: 100vh;
    background-image: url('../../images/A/A1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#A2 {
    height: 100vh;
    background-image: url('../../images/A/A2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#A3 {
    height: 100vh;
    background-image: url('../../images/A/A3.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#A4 {
    height: 100vh;
    background-image: url('../../images/A/A4.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 960px) {
    #A0 {
        height: calc(100vh - 50px);
    }
    
    #A1 {
        height: calc(100vh - 49px);
    }
    
    #A2 {
        height: calc(100vh - 49px);
    }
    
    #A3 {
        height: calc(100vh - 49px);
    }
    
    #A4 {
        height: calc(100vh - 50px);
    }
}