@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

#navside {
    z-index: 5;
    background: #1e1f24;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

#navside ul {
    width: 100%;
}

#navside li {
    text-align: right;
    height: 10vh;
}

#navside p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-align: right;
    width: 85%;
    line-height: 10vh;
    z-index: 1;
    border-top: 1px solid rgba(60, 106, 117, 0.15);
    border-bottom: 1px solid rgba(60, 106, 117, 0.15);
}

#navside p:hover {
    color: #8ceaff;
}

#content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
}

#content p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #edf0f1;
}

@media screen and (max-width: 960px) {

    #navside {
        height: 50px;
        overflow: hidden;
		text-align: center;
        width: 100%;
    }

    #navside ul {
        display: flex;
        width: 85%;
        height: inherit;
    }

    #navside li {
        width: 85%;
        display: block;
        height: inherit;
    }

    #navside p {
        font-size: 12px;
        width: 100%;
        text-align: center;
        line-height: 50px;
    }

    #content {
        position: relative;
        margin-left: 0px;
        width: 100%;
        top: 50px;
        height: calc(100vh - 50px);
    }
}