:root {
    --bckgColour: #121212;
    --navbColour: #1b1b1b;
    --textColour: #efefef;
    --hvrhColour: #5c19194d;
    --logoColour: #d74e42;
    --navbarH: 56px;
    --navbarW: calc(var(--navbarH) * 3);
    --contentH: calc(100vh - var(--navbarH) - 0.5px);
}

.nav {
    width: var(--navbarW);
    height: 100vh;
    position: fixed;
    background-color: var(--navbColour);
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: none;
    border-right: 0.5px solid var(--logoColour);
    z-index: 100;
}

.logo {
    width: var(--navbarW);
    height: var(--navbarH);
}

.logo img {
    width: 45px;
    height: 45px;
}

.logo p {
    color: var(--logoColour);
    font-weight: 900;
}

.links {
    width: var(--navbarW);
    height: 80vh;
    flex-direction: column;
}

.links a {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links a:hover {
    background-color: #121212E5;
    border-left: 0.5px solid var(--logoColour);
    border-right: 0.5px solid var(--logoColour);
}

.links p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--logoColour);
}

.menu {
    display: none !important;
}

.content {
    top: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    border-bottom: 0.5px var(--logoColour) solid;
}

/* Half Screen */
@media screen and (max-width: 1280px) {

    .nav {
        width: 100%;
        height: var(--navbarH);
        position: fixed;
        background-color: var(--navbColour);
        flex-direction: row;
        border-bottom: 0.5px solid var(--logoColour);
        border-right: none;
        justify-content: space-between;
    }

    .logo {
        margin-left: 20px;
    }
    
    .links {
        width: calc(100%);
        margin-left: 20px;
        margin-right: 20px;
        height: var(--navbarH);
        flex-direction: row;
        padding: 0;
        align-items: flex-end;
    }

    .links a {
        height: var(--navbarH);
    }

    .links p {
        font-size: 1.5vw;
    }
    
    .menu {
        display: none !important;
    }
    
    .content {
        width: 100%;
        height: var(--contentH);
        top: var(--navbarH);
        position: relative;
        border-bottom: 0.5px var(--logoColour) solid;
    }

}

/* Mobile */
@media screen and (max-width: 768px) {

    .nav {
        justify-content: space-between;
    }

    .links {
        display: none !important;
    }
    
    .menu {
        display: flex !important;
        flex-direction: column;
        width: calc(var(--navbarH) * 1.5);
        height: var(--navbarH);
    }

    .menu div {
        width: 30px;
        height: 5px;
        border-radius: 10px;
        margin: 2.5px;
        background-color: var(--logoColour);

    }

}