@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap');

:root {
    --backFill: #121212;
    --navbFill: #202124;
    --textFill: #efefef;
    --highFill: 56, 194, 232;

    --navbH: 56px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
    color: var(--textFill);
    scroll-behavior: smooth;
    border: none;
}

html {
    overflow: hidden;
    height: 100%;
    background-color: var(--backFill);
}

body {
    height: 100%;
    overflow: auto;
}

a, a:visited {
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
    border: none;
}

.nav {
    background: linear-gradient(0deg, rgba(var(--highFill),0.2) 0%, var(--navbFill) 15%, var(--navbFill) 100%);
    width: 100%;
    height: var(--navbH);
    border-bottom: rgba(var(--highFill),1) 1px solid;
}

.logo {
    width: 15%;
    color: rgba(var(--highFill),1);
    font-size: 25px;
    font-weight: 200;
}

.links {
    width: 75%;
}

.links a {
    width: 100%;
    font-weight: 500;
}

/* General Properties */

.ctr {
    display: flex;
    align-items: center;
}

.lft {
    display: flex;
    align-items: flex-start;
}

.rht {
    display: flex;
    align-items: flex-end;
}

.sbt {
    justify-content: space-between;
}

.spe {
    justify-content: space-evenly;
}

.mdl {
    justify-content: center;
}