@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap');

.window {
    height: calc(100vh - 1px - var(--navbH));
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}































/* Boiler Plate CSS */

:root {
    --backFill: #121212;
    --navbFill: #202124;
    --textFill: #eeeeee;
    --gradFill: #113944;
    --highFill: 56, 194, 232;
    --aspectRatio: 9/16;
    --navbH: 56px;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    color: none;
    background: none;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
    color: var(--textFill);
    scroll-behavior: smooth;
    border: none;
}

html {
    overflow: hidden;
    height: 100%;
    background-color: var(--backFill);
}

body {
    height: 100%;
    overflow: auto;
}

a, a:visited {
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
    border: none;
}

.nav {
    width: 100%;
    height: var(--navbH);
    background: linear-gradient(0deg, var(--gradFill) 0%, var(--navbFill) 15%, var(--navbFill) 100%);
    border-bottom: rgba(var(--highFill),1) 1px solid;
    border-right: none;
    display: flex;
    align-items: center;
}
    
.title {
    width: 400px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title p {
    color: rgba(var(--highFill),1);
    font-size: 30px;
    font-weight: 300;
}

.title img {
    width: 30px;
    height: 30px;
}

.links {
    width: calc(var(--navbH) * 10.5);
    height: inherit;
    margin-right: var(--navbH);
    margin-bottom: 0px;
    flex-direction: row;
}

.window {
    height: calc(100vh - 1px - var(--navbH));
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.row {
    width: 800px;
    justify-content: space-between;
    flex-direction: row;
    height: 10vh;
}

.row h1 {
    width: 175px;
    font-size: 40px;
    font-weight: 300;
    user-select: none;
    z-index: -1;
    color: rgba(var(--highFill), 1);
}

.row a {
    width: 100%;
    height: inherit;
    background-color: #eeeeee03;
    border: 1px solid #eeeeee10;
    border-radius: 5px;
    
    flex-direction: column;
    justify-content: space-evenly;
}

.row p {
    font-size: 30px;
}

input {
    width: 150px;
    background-color: #eeeeee03;
    height: 50px;
    color: #eeeeee;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 20px;
    margin: 8px 0;
    text-align: center;
    border: 1px solid #eeeeee10;
    border-radius: 5px;
    box-sizing: border-box;
}

.button a {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 50px;
    font-weight: 100;
}

.flex {
    display: flex;
    align-items: center;
}